# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.LogicTier.iml
/modules.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/code/LogicTier/Application/obj/
/code/LogicTier/Application/bin/
/code/LogicTier/Domain/obj/
/code/LogicTier/Domain/bin/
/code/LogicTier/WebAPI/bin/
/code/LogicTier/WebAPI/obj/