@inherits LayoutComponentBase
@using WastelessWASM.Pages

<div class="top-row px-4">
    <div class="nav">
        <SellerFunctionality/>
    </div>
    <div class="nav">
        <LoginButtons/>
    </div>
</div>