@inherits LayoutComponentBase
@using WastelessWASM.Pages

<div class="top-row px-4">
    <AuthorizeView>
        @if (context.User.IsInRole("seller"))
        {
            <div class="nav">
                <SellerFunctionality/>
            </div>
        }
        @if(context.User.IsInRole("customer"))
        {
            <div class="nav">
                <CustomerFunctionality/>
            </div>
        }
    </AuthorizeView>

            <div class="nav">
                <LoginButtons/>
            </div>
</div>