@inherits LayoutComponentBase
@using WastelessWASM.Pages

@inject NavigationManager navMgr

<div class="top-row px-4">
    <div class="nav">
        <img class="nav-logo" src="img/logo.png" @onclick="MainPage"/>
    </div>
    <AuthorizeView>
        @if (context.User.IsInRole("seller"))
        {
            <div class="nav">
                <SellerFunctionality/>
            </div>
        }
        @if (context.User.IsInRole("customer"))
        {
            <div class="nav">
                <CustomerFunctionality/>
            </div>
        }
    </AuthorizeView>

    <div class="nav">
        <LoginButtons/>
    </div>
</div>

@code {

    private void MainPage()
    {
        navMgr.NavigateTo("/");
    }

}