@inherits LayoutComponentBase
@using WastelessWASM.Pages

<div class="top-row px-4">
    <AuthorizeView>
        @if (context.User.IsInRole("seller"))
        {
            <div class="nav">
                <SellerFunctionality/>
            </div>   
        }
        </AuthorizeView>

            <div class="nav">
                <LoginButtons/>
            </div>
</div>