
<div class="top-row px-4">
    <NavLink class="nav-link" href="Login">
        <span class="oi oi-person" aria-hidden="true"></span> Login
    </NavLink>
</div>
<div class="top-row px-4">
    <NavLink class="nav-link" href="RegisterInto">
        <span class="oi oi-account-login" aria-hidden="true"></span> Register
    </NavLink>
</div>