@page "/CreatePack"

<PageTitle>Create food pack</PageTitle>

<h3 style="text-align: center">Create food pack</h3>

<div class="foodPackForm">

    <div class="field">
        <label>Title:</label>
        <input id="titlePack" type="text" @bind="_title"/>
    </div>

    <div class="field">
        <label style="text-align: center">Description:</label>
        <textarea id="textDescription" @bind="_packDescription"></textarea>
    </div>

    <div>
        <label>Pickup start time:</label>
        <input type="datetime-local" @bind="startDate" @bind:event="oninput" class="form-control valid"/>
    </div>
    <div>
        <label>Pickup end time:</label>
        <input type="datetime-local" @bind="endDate" @bind:event="oninput" class="form-control valid"/>
    </div>

    <div id="packTypeRadio">
        <label style="text-align: center">Chose food type:</label>
        <div class="form-check">

            <input class="form-check-input" type="radio" name="typeRadio" id="typeVegan" checked="checked">
            <label class="form-check-label" for="typeVegan">Vegan</label>

        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="typeRadio" id="typeMeat">
            <label class="form-check-label" for="typeMeat">Meat</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="typeRadio" id="typePastry">
            <label class="form-check-label" for="typePastry">Pastry</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="typeRadio" id="typeGrocery">
            <label class="form-check-label" for="typeGrocery">Grocery</label>
        </div>

    </div>
    <div id="packIsReady">
        <label style="text-align: center">Is the product prepared?</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="typeReady" id="typeIsReady" checked="checked">
            <label class="form-check-label" for="typeVegan">Yes</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="typeReady" id="typeIsNotReady">
            <label class="form-check-label" for="typeMeat">No</label>
        </div>
    </div>


    <div class="field">
        <label>Price:</label>
        <input id="price" type="number" @bind="_price"/>
    </div>
    <div class="button">
        <button class="creatPackBtn" @onclick="CreateFoodPack">Create</button>
    </div>
</div>


@code {

    private string? userId;
    private string _title;
    private string? _packDescription;
    private string? _type;
    private bool _isPrepared;
    private double? _price;
    private string? _errorLabel;
    
    
    
    
    private DateTime startDate = DateTime.Today;    
    private DateTime endDate = DateTime.Today;    
    
    
    private void CreateFoodPack()
    {
        Console.WriteLine(startDate.ToString());
        Console.WriteLine(endDate.ToString());
    }
}