.reservation_table{
    font-size:  20px;
    width: 70%;
    margin-left:  auto;
    margin-right:  auto;
    overflow: hidden;
}

.reservation_table thead{
    border-right: 1px solid lightskyblue;
}

.reservation_table thead:last-child
{
    border-right:  none;
}

.reservation_table thead tr{
    background-color: lightblue;
    color:  white;
    font-weight: bold;
    text-align:  left;
}

.reservation_table th,
.reservation_table td{
    padding:  5px 5px 5px 5px;
}

.reservation_table tbody tr
{
    border-bottom:  1px solid lightblue;
}

.reservation_table tbody tr:hover{
    font-weight: bold;
    color:  lightskyblue ;
    cursor: pointer;
}

.icons {
    height: 50px;
    width: 50px;
}