body{
    margin: 0;
    font-family: sans-serif;
    background: #f2f2f2;
}

.reservationButton {
    color: #1a1e21;
}

h3{
    text-align:center;
    font-size:30px;
    margin:0;
    padding-top:10px;
}
a{
    text-decoration: none;
}

.restaurants{
    display: flex;
    flex-wrap:wrap;
    width:100%;
    justify-content: center;
    align-items:center;
    margin:50px 0;
}


.images{
    display: flex;
    flex-direction: row;
    
}

.images img{
    width: 20px;
    height: 20px;
}

.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    text-align:center;
    border-radius: 20px;
    cursor:pointer;
    padding-top:10px;
    background:lightgray;
    
}
.restaurant_image{
    width:200px;
    height:200px;
    text-align:center;
    margin: 0 auto;
    display:block;
}


.tag{
    
    background-color: lightblue;
    font-size:18px;
    color: white;
    font-weight:bold;
    border-radius:10%;
    padding: 10px 10px;
    margin-top: 5%;
}

.tags{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 5%;
}

p{
    text-align:center;
    color: #b2bec3;
}

button{
    text-align:center;
    font-size:24px;
    color: #fff;
    border: #fff;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.read_more{
    background: #2183a2;
}

@media(max-width: 1000px)
{
    .content{
        width:100%;
    }
}
