@page "/"

<PageTitle>Index</PageTitle>

<div class="introPage" align="center">
    <h1>Wasteless</h1>
    <p>Let's start saving food</p>
</div>
<style>
    body {
        
        background: #48b1bf; 
        }
</style>

