@page "/Login"
@using HttpClients.ClientInterfaces
@inject IAuthService authService
@inject NavigationManager navMgr

<PageTitle>Login</PageTitle>
<style>
    body {background: #48b1bf; }
</style>
<div class="card ">
    <h3>Please login</h3>
    <div class="field">
        <label>Email</label>
        <input type="text" @bind="email"/>
    </div>
    <div class="field">
        <label style="text-align: center">Password:</label>
        <input type="password" @bind="password"/>
    </div>
    @if (!string.IsNullOrEmpty(errorLabel))
    {
        <div class="field">
            <label style="color: red">
                @errorLabel
            </label>
        </div>
    }
    <div class="field">
        <button class="loginbtn" @onclick="LoginAsync">Log in</button>
    </div>
</div>

@code {
    private string email;
    private string password;
    private string errorLabel;

    private string? userId;
    private string? userNameLogged;

    private async Task LoginAsync()
    {
        errorLabel = "";
        try
        {
            await authService.LoginAsync(email, password);
            navMgr.NavigateTo("/");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            errorLabel = $"Error: {e.Message}";
        }
    }



}