@page "/RegisterSeller"

<style>
    body {background: #48b1bf; }
</style>
<PageTitle>Register</PageTitle>
<AuthorizeView>
    
    <NotAuthorized>
        
        <div class="card">
                <h3 style="text-align: center">Register</h3>
            
                <label>Company name:</label>
                <input type="text" @bind="companyName"/>
            </div>
        <div class="field">
            <label>CVR:</label>
            <input type="text" @bind="cvr"/>
        </div>
        <div class="field">
            <label>Phone number</label>
            <input type="text" @bind="phoneNumber"/>
        </div>
       
                   
           
           
                        <div class="field">
                            <button class="registerbtn">Register</button>
                        </div>
                    

    </NotAuthorized>
</AuthorizeView>

@code {
   
    private string? cvr;
    private string? companyName;
    private string? phoneNumber;
    private string? errorLabel;

    

}