@page "/RegisterCustomer"
<h3>RegisterCustomer</h3>
<style>
    body {background: #48b1bf; }
</style>
<PageTitle>Register</PageTitle>
<AuthorizeView>
    
    <NotAuthorized>
        
        <div class="card">
            <h3 style="text-align: center">Customer</h3>
                    <div class="field">
                        <label>Preferences:</label>
                        <input type="text" @bind="_preferences" @bind:event="oninput"/>
                    </div>
                    <div class="field">
                        <button class="registerbtn">Register</button>
                    </div>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {

    private string? _preferences;



}