*{
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
    
}
.foodIcon {
    height: 190px;
    width: 250px;
}

#coName {
    font-size: 2.5em;
}

#subscribeBtn {
outline: none;
cursor: pointer;
border: 1px solid transparent;
border-radius: 2px;
height: 36px;
line-height: 34px;
font-size: 14px;
color: #ffffff;
background-color: #007c89;
transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
padding: 0 18px;
width: 120px;
    margin-left: 20px;
}

#bottomContainer {
    display: flex;
}

#float-container { 
    margin-top: 10px;
    display:flex;
    
}
#coInfo{
    background-color: #f1f3f4;
    font-size: 1.5em;
    width: 60%;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 2px solid #d6d6cd;
    border-radius: 4px;
    margin-top: 10px;
   
   
}

#mapContainer{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 2px solid #d6d6cd;
    border-radius: 4px;
    width: 60%;
    height:  230px;
    margin-top: 10px;
}



#coPicture {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 2px solid #d6d6cd;
    border-radius: 4px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-wrap: anywhere;
    height: 400px;
    position: center;
    text-align: center;
}

#coDescription {
    background-color: #f1f3f4;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 2px solid #d6d6cd;
    border-radius: 4px;
    margin: 0 0 24px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    width: 30%;
}

.add_btn{
    font-weight: 500;
    letter-spacing: 0.5px;
    align-items: center;
    padding: 4px 8px;
    min-height: 20px;
}

.add_btn img{
    margin-bottom: 10%;
}

.basket{
    background-color: red;
    position:sticky;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5px;
    justify-content:space-between;
    align-items: center;
    width: 80%;
    border-bottom: dotted black;
}


.item_photo img{
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
}

.foodItem {
    padding: 0; 
    display: block; 
    
}
.row-container {
    display: inline-block;
}