*{
    box-sizing: border-box;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.container{
    padding: 0;
    width: 100%; !important;
    margin: 0;
}

#top-section{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-wrap: anywhere;
    height: 500px;
    position: center;
    text-align: center;
}

.restaurant_info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.restaurant_description{
    width: 50%;
    float:left;
    height: 200px;
    background-color: red;
}

#mapContainer{
    width: 50%;
    height:  250px;
    float: right;
}


 #upper-banner h1{
    font-size: 80px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
     width: 350px;
     word-wrap: break-word;
     overflow-wrap: break-word;
    word-break: break-word;
    margin-bottom: 0;
    
}

.banner_title_span{
    vertical-align:middle;
}

.banner_description{
    color: rgb(255,255,255);
    margin: 0 0 24px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    background-color: lightblue;
}

.tags{
    margin-block-start: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    min-height: 32px;
    position: absolute;
    top: 80%;
    left: 30%;
}

#upper-banner{
    position: absolute;
    top: 10%;
    left: 5%;
}

.tag{
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.5px;
    font-style: normal;
    text-transform: uppercase;
    align-items: center;
    border-radius: 4px;
    background: rgb(255,255,255);
    color: rgb(32,33,37);
    padding: 8px 16px;
    min-height: 32px;
}

.add_btn{
    font-weight: 500;
    letter-spacing: 0.5px;
    align-items: center;
    padding: 4px 8px;
    min-height: 20px;
}

.add_btn img{
    margin-bottom: 10%;
}

.basket{
    background-color: red;
    position:sticky;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    border-bottom: dotted black;
}


.item_photo img{
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
}
