@namespace WastelessWASM.Pages

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" >

<AuthorizeView>
    <Authorized>
        <div class="top-row px-4">
            <p class="ib">Create a foodpack here!</p>
            <i class="fa-regular fa-pot-food" @onclick="openCreateFoodpack"></i>
        </div>
    </Authorized>
</AuthorizeView>

@code {

    public void openCreateFoodpack()
    {
        
    }
}