@namespace WastelessWASM.Pages
@inject NavigationManager navMgr

<AuthorizeView>
    <Authorized>
        <div class="top-row px-4">
            <p class="ib">Create a foodpack here!</p>
            <img class="icon" src="img/food-containers-icon.png" @onclick="openCreateFoodpack"/>
        </div>
    </Authorized>
</AuthorizeView>

@code {

    public void openCreateFoodpack()
    {
        navMgr.NavigateTo("/createPack");

    }
}